body,
html {
    width: 100%;
    height: 100%;
}

body{
    padding-top:100px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 550;
}

#content{
    min-height: 600px;
}

.rmvb{
    list-style: none;
    padding-left: 50px;
}

.color{
    text-align: center;
    text-transform: uppercase;
}

.thumbnail1{
    overflow: auto;
    padding: 10px 0 0 10px;
}

#banner_image {
    padding-bottom: 50px;
    margin-bottom: 20px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/bg.jpg) no-repeat center center;
    background-size: cover;
}

#banner_content {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    background-color: rgba(0, 0, 0, 0.5);
    max-width: 600px;
    border-radius: 25px;
}


.modal-header, .close{
    background-color:orange;
    color: white !important;
    text-align: center;
    font-size: 50px;
}

.modal-footer{
    background-color: #f9f9f9;
}

#item_list {
    padding-top: 50px;
}

/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#ios:before, #samsung:before, #oneplus:before, #xiaomi:before{
    display: block;
    content: " ";
    margin-top: -85px;
    height: 85px;
    visibility: hidden;
}


#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    position: relative;
    background-color: #3d3d3d;
    color:white;
    width: 100%;
    bottom: 0;
    font-weight: 300;
}

.columnf{
  float: left;
  width: 33.33%;
  padding: 5px;

}

.row:after{
  content: "";
  display: table;
  clear: both;
}


#thmb{
    float: left;
    padding: 0 20px 0 30px;
}

#bdy{
    padding-top: 80px;
    padding-bottom: 20px;
}

.thumbnail1{
    overflow: auto;
    padding: 10px 0 0 10px;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:20px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
}
